{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Comics Sharingann</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}" id="inicio-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}" id="comics-link">Cómics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'carro' %}" id="carro-link">
              <i class='bx bx-cart'></i> Carro <span id="cartItemCount" class="badge badge-pill badge-primary">0</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" id="login-link"><i class='bx bx-user'></i> Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}" id="registro-link"><i class='bx bx-user-plus'></i> Registro</a>
          </li>
          <li class="nav-item" id="user-info" style="display: none;">
            <span class="nav-link">Bienvenido, <span id="username-display"></span></span>
          </li>
          <li class="nav-item" id="logout-link" style="display: none;">
            <a class="nav-link" href="{% url 'index' %}" onclick="logout()"><i class='bx bx-log-out'></i> Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="register-container">
    <h2>Registro</h2>
    <form id="register-form">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" id="username" name="username" required>
            <span class="input-line"></span>
            <label for="username">Usuario</label>
        </div>
        <div class="input-box">
            <input type="email" id="email" name="email" required>
            <span class="input-line"></span>
            <label for="email">Correo Electrónico</label>
        </div>
        <div class="input-box">
            <input type="password" id="password1" name="password1" required>
            <span class="input-line"></span>
            <label for="password1">Contraseña</label>
        </div>
        <div class="input-box">
            <input type="password" id="password2" name="password2" required>
            <span class="input-line"></span>
            <label for="password2">Confirmar Contraseña</label>
        </div>
        <button type="submit">Registrarse</button>
    </form>
</div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'js/register.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
</body>
</html>