body {
    background-image: url(../img/fondo1.jpg);
}

.navbar {
    background-image: url(../img/fondo1.jpg);
}

.navbar.navbar-light .navbar-brand, 
.navbar.navbar-light .navbar-nav .nav-link {
    color: whitesmoke !important;
}

/* Nuevo contenedor para el formulario */
.envioFormContainer { 
    color: white !important;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 40rem;
    border-radius: 7rem; 
    overflow: hidden; 
    margin: 0 auto;
    margin-top: 5rem;
    padding: 5rem; 
}

.envioFormContainer::before {
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5rem); 
    z-index: -10; 
}

h2{
    color: white !important;
    text-align: center;
}

.envioFormContainer button {
    background-color: #007bff; 
    color: white;
    padding: 1rem; 
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.envioFormContainer button:hover {
    background-color: #0056b3;
}

.notificacion {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; 
    color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}